.DS_Store
.build/
.dev-data/
DerivedData/
.swift-cache/
.swiftpm/
.vscode/
dist/
Packaging/AppIcon.iconset/
Packaging/ffmpeg/
SpodcastManaagerURLCache/
s-podcast-manager-url-cache/
simple-podcast-manager-url-cache/
